#repo-button li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#repo-button a {
  background-image: url("/public/GH-icon-dark-144.png"); 
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none; /* Removes the default button border */
  /* transition: background-color 0.3s ease; /* Smooth color transition */
}

/* #repo-button a:hover {
  background-color: #ffd60a;
} */

.nav-menu-button-icon {
  width: 32px;
  height: 32px;
  color: white;
  text-align: "center";
}

.nav-menu-button {
  display: none;
}

.container-2 {
  display: flex;
  margin: 0rem 4rem;
  padding-top: 5rem;
  justify-content: center; /* Horizontally centers the child */
  align-items: center; /* Vertically centers the child */
  min-height: 100vh; /* Adjust as needed */
}

.main-paddings {
  padding: 4rem 6rem;
  overflow: hidden;
}

.my-image {
  width: 500px;
  height: 500px;
}

.image-shape {
  border-radius: 80rem 60rem 90rem 40rem/ 120rem 90rem 50rem 10rem;
  box-shadow: 0 0 60px 5px var(--bg-color-opposite-theme-2);
}

.my-pfp-image {
  display: block;
  max-width: 25rem;
  height: auto;
}

.vertical-margin-auto {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 30rem;
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem 3rem;
}

.flex-item {
  flex-basis: 0;
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 1;
  min-width: 20rem;
}

.center {
  display: flex;
  justify-content: center;
}

.p-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.logo-icon-style {
  width: 70px;
  height: 70px;
}

.section-height {
  min-height: 100vh;
}

.navbar-hidden {
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  /* Equivalent to
  transition: all 1s allow-discrete; */
}

/* For medium and larger devices */

.navbar-visible {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

/* Navbar Styles */
.navbar {
  padding: 0rem 6rem;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(5px); /* Blur effect for modern browsers */
  -webkit-backdrop-filter: blur(5px); /* Blur effect for Safari */
}

.no-decoration {
  text-decoration: none;
}

.nav-link {
  text-shadow: none;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: text-shadow 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

/* Hover and Focus Effects */
.nav-link:hover,
.nav-link:focus {
  /* Blurred text-shadow */
  text-decoration: none;
  text-shadow: 0 0 15px var(--nav-text-shadow-hover); /* Adjust the shadow color and strength */
  border-bottom: 2px solid var(--pico-contrast-hover-underline);
  /* Apply animation only on hover */
  /* animation: shadow-pulse 1s infinite; */
}

/* Text Shadow Pulse Animation */
/* @keyframes shadow-pulse {
  0% {
    text-shadow: 0 0 10px rgba(0, 0, 0);
  }
  50% {
    text-shadow: 0 0 15px rgba(0, 0, 0);
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 0, 0);
  }
} */

/* Jade color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-text-selection-color: rgba(0, 166, 110, 0.25);
  --pico-primary: #007a50;
  --pico-primary-background: #007a50;
  --pico-primary-underline: rgba(0, 122, 80, 0.5);
  --pico-primary-hover: #005f3d;
  --pico-primary-hover-background: #006d46;
  --pico-primary-focus: rgba(0, 166, 110, 0.25);
  --pico-primary-inverse: #fff;
  --nav-text-shadow-hover: rgb(0, 0, 0, 0.8);
  --nav-bg-color: rgb(255, 255, 255, 0.8);
  --bg-color-opposite-theme-2: rgb(19, 23, 31, 0.4);
  --bg-color: rgb(255, 255, 255);
  --bg-color-opposite-theme: rgb(19, 23, 31);
}

/* Jade color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(0, 180, 120, 0.1875);
    --pico-primary: #00b478;
    --pico-primary-background: #007a50;
    --pico-primary-underline: rgba(0, 180, 120, 0.5);
    --pico-primary-hover: #00cc88;
    --pico-primary-hover-background: #00895a;
    --pico-primary-focus: rgba(0, 180, 120, 0.25);
    --pico-primary-inverse: #fff;
    --nav-text-shadow-hover: rgb(255, 255, 255, 0.8);
    --nav-bg-color: rgb(19, 23, 31, 0.8);
    --bg-color-opposite-theme-2: rgb(255, 255, 255, 0.4);
    --bg-color: rgb(19, 23, 31);
    --bg-color-opposite-theme: rgb(255, 255, 255);
  }
}

/* Jade color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-text-selection-color: rgba(0, 180, 120, 0.1875);
  --pico-primary: #00b478;
  --pico-primary-background: #007a50;
  --pico-primary-underline: rgba(0, 180, 120, 0.4);
  --pico-primary-hover: #00cc88;
  --pico-primary-hover-background: #00895a;
  --pico-primary-focus: rgba(0, 180, 120, 0.25);
  --pico-primary-inverse: #fff;
  --nav-text-shadow-hover: rgb(255, 255, 255, 0.8);
  --nav-bg-color: rgb(19, 23, 31, 0.8);
  --bg-color-opposite-theme-2: rgb(255, 255, 255, 0.5);
  --bg-color: rgb(19, 23, 31);
  --bg-color-opposite-theme: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 4rem;
  }
  .nav-menu-button {
    display: flex;
    align-items: center;
    float: right;
  }
  .navbar ul:not(:first-child) {
    display: none;
  }

  .navbar.responsive #nav-list {
    display: block;
    position: fixed;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    top: 3.4rem;
    left: 33.33%;
    right: 33.33%;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur(5px); /* Blur effect for modern browsers */
    -webkit-backdrop-filter: blur(5px); /* Blur effect for Safari */

  }  

  .navbar.responsive #repo-button {
    display: block;
    position: fixed;
    top: 0rem;
    left: 33.33%;
    right: 33.33%;
  } 

  .navbar.responsive li {
    display: block;
    top: 5;
    text-align: center;

  }  

  .nav-menu-button-icon {
    width: 32px;
    height: 32px;
    color: var(--bg-color-opposite-theme);
    text-align: "center";
  }

  .main-paddings {
    padding: 4rem 2rem;
    overflow: hidden;
  }

  .container-2 {
   display: flex;
   margin: 4rem 2rem;
   justify-content: center; /* Horizontally centers the child */
   align-items: center; /* Vertically centers the child */
   min-height: 100vh; /* Adjust as needed */
  }

}

/* @media screen and (max-width: 1048px) {
  .my-pfp-image {
    display: none;
  }
} */

